body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image:url(Imagens/pngtree-planet-earth-at-night-picture-image_1703639.jpg)  ;
    color: aliceblue;
    background-attachment: fixed;
}



header{
    background-color: rgb(0, 0, 0);
    padding: 0px;
    border: 1px;
    border-color:#126f94 ;
    border-style:groove ;
    position: fixed;
    width: 99.9%;
    margin-bottom: 80px
    ;
}

#ti{
    display: flex;
    text-align: center;
    
}

#i{width: 110px;
    margin-right: 650px;
    padding: 20px;
    }

header h1{
    font-size: 30px;
    padding-top: 25px;
    margin-right: 400px;
    margin-top: 30px;
   
    
}

header h3{ padding-top: 40px;
           font-size:20px ;
          ;}
header h4{
    font-size: 20px;
    padding-top: 25px;
    margin-top: 40px;
}

header h4 img{
    width: 20px;
}

nav{
    padding-top: 0px;
    text-align: center;
    list-style-type: none;
    background-color: black;
    border: 1px;
    border-style: groove;
    border-color: #126f94;
   
}

nav li{
    display: inline;
    margin: 50px;
    font-size: 20px;
    
}

nav a{
    text-decoration: none;
    color:#126f94;
}

nav li a:hover{
    background-color: #1a1a1a;
}

.introdução{
    
    background-color: #181817;
    text-align: center;
    border: 1px;
    border-color: rgb(250, 250, 250);
    border-style:groove ;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: px;
    margin-bottom: 180px;
    
  
}

.introdução h1{
    background-color: #126f94;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 0px;
}

.introdução p{
    padding-right: 300px;
    padding-left: 300px;
    font-size: 20px;
}

.Conteudo{
    margin-left: 50px;
    

}

.Planetas{
    background-image: url(Imagens/Drooorbit.webp);
    padding: 50px;
    padding-bottom: 210px;
    border: 1px;
    border-color: rgb(250, 250, 250);
    border-style:groove ;
    margin-left: 100px;
    margin-right:1350px ;
    margin-bottom: 100px;
    text-align: center;
   


}

